In [1]:
# Dependencies and Setup
import pandas as pd
import glob

In [2]:
# Read in all 2019 CSVs files of Citi Bike Data into one Dataframe

files = glob.glob("citibike_data\JC-2019*.csv")
dfs = [pd.read_csv(f, header=0, sep=",") for f in files]

bikedata2019 = pd.concat(dfs,ignore_index=True)

# Review file created
bikedata2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [3]:
# Read in all 2020 CSVs files of Citi Bike Data into one Dataframe

files = glob.glob("citibike_data\JC-2020*.csv")
dfs = [pd.read_csv(f, header=0, sep=",") for f in files]

bikedata2020 = pd.concat(dfs,ignore_index=True)

# Review file created
bikedata2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [4]:
# Read in all 2021 CSVs files of Citi Bike Data into one Dataframe

files = glob.glob("citibike_data\JC-2021*.csv")
dfs = [pd.read_csv(f, header=0, sep=",") for f in files]

bikedata2021 = pd.concat(dfs,ignore_index=True)

# Review file created
bikedata2021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,266.0,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273.0,Manila & 1st,40.721651,-74.042884,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1543.0,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681.0,Grand St,40.715178,-74.037683,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1461.0,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681.0,Grand St,40.715178,-74.037683,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,793.0,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185.0,City Hall,40.717733,-74.043845,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,596.0,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639.0,Harborside,40.719252,-74.034234,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Combine the dfs with same layout

bikedata1920 = bikedata2019.append(bikedata2020, ignore_index=True)
bikedata1920.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [6]:
print(bikedata1920.columns)
print(bikedata2021.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'ride_id', 'rideable_type', 'started_at',
       'ended_at', 'start_station_name', 'start_station_id',
       'end_station_name', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

In [7]:
# Remove columns which aren't available across all the years and reorder the columns to match across different types

bikedata1920 = bikedata1920[['starttime', 'stoptime', 'start station name','start station id',
       'end station name', 'end station id', 'start station latitude','start station longitude',
       'end station latitude', 'end station longitude']]

#Rename columns to align across data sets
bikedata1920 = bikedata1920.rename(columns={'starttime':'started_at', 'stoptime':'ended_at', 'start station name':'start_station_name','start station id':'start_station_id',
       'end station name': 'end_station_name', 'end station id':'end_station_id','start station latitude':'start_lat','start station longitude':'start_lng',
       'end station latitude':'end_lat', 'end station longitude':'end_lng'})

bikedata2021 = bikedata2021[['started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]

# Merge the data together
all_bikedata = bikedata1920.append(bikedata2021, ignore_index=True)
all_bikedata.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,Grove St PATH,3186,Heights Elevator,3198,40.719586,-74.043117,40.748716,-74.040443
1,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,Hilltop,3206,Astor Place,3280,40.731169,-74.057574,40.719282,-74.071262
2,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,Grove St PATH,3186,JC Medical Center,3205,40.719586,-74.043117,40.716540,-74.049638
3,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,Hilltop,3206,Leonard Gordon Park,3281,40.731169,-74.057574,40.745910,-74.057271
4,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,Hilltop,3206,Leonard Gordon Park,3281,40.731169,-74.057574,40.745910,-74.057271

In [8]:
# Removing time information from start and end times for trips
all_bikedata['started_at'] = all_bikedata['started_at'].str[:10]
all_bikedata['ended_at'] = all_bikedata['ended_at'].str[:10]

# Changing data into dates
all_bikedata['started_at'] = pd.to_datetime(all_bikedata['started_at'])
all_bikedata['ended_at'] = pd.to_datetime(all_bikedata['ended_at'])

In [9]:
# Create separate data frame with all bike stations

startstation = all_bikedata[[ 'start_station_name', 'start_station_id', 'start_lat', 'start_lng']]
startstation = startstation.rename(columns={'start_station_name':'station_name', 'start_station_id':'station_id', 'start_lat':'lat', 'start_lng':'lng'})
endstation = all_bikedata[[ 'end_station_name','end_station_id', 'end_lat', 'end_lng']]
endstation = endstation.rename(columns={'end_station_name':'station_name', 'end_station_id':'station_id', 'end_lat':'lat', 'end_lng':'lng'})
allstations = startstation.append(endstation, ignore_index=True)
allstations.head()

    station_name station_id        lat        lng
0  Grove St PATH       3186  40.719586 -74.043117
1        Hilltop       3206  40.731169 -74.057574
2  Grove St PATH       3186  40.719586 -74.043117
3        Hilltop       3206  40.731169 -74.057574
4        Hilltop       3206  40.731169 -74.057574

In [10]:
# Remove all duplicates of the stations (excluding the ID as the ID numbers change in 2021)

allstations.drop_duplicates(subset=['station_name', 'lat', 'lng'], keep='first', inplace=True)

In [12]:
# Remove unecessary columns to make the files easier to deal with
all_bikedata = all_bikedata[['started_at', 'ended_at','start_station_id','end_station_id']]

#Create an extract of all_bikedata as file is too large for upload to GitHub
extract = all_bikedata.head()
extract

  started_at   ended_at start_station_id end_station_id
0 2019-07-01 2019-07-01             3186           3198
1 2019-07-01 2019-07-01             3206           3280
2 2019-07-01 2019-07-01             3186           3205
3 2019-07-01 2019-07-01             3206           3281
4 2019-07-01 2019-07-01             3206           3281

In [13]:
# Confirm output file and export data into a csv

all_bikedata.to_csv('output_data/all_bikedata.csv',header=True,index=False)
extract.to_csv('output_data/extract_bikedata.csv',header=True,index=False)
allstations.to_csv('output_data/allstations.csv',header=True,index=False)